body {
	background-image: url(../images/footer_lodyas.png);
}

.container {
    background-color: turquoise;
    border: red solid 2px;
}

#directions {
	padding-left: 40px;
	font-family: 'Audiowide', cursive;
}

#header {
	padding-top: 20px;
	text-align: center;
	font-family: 'Audiowide', cursive;
	color: red;
	font-size: 60px;
	border-bottom: red solid 2px;
}

#gameComponents {
	font-family: 'Audiowide', cursive;
	font-size: 20px;
}

#randomNumber {
	border: red solid 2px;
	background-color: white;
}

#gameStats {
	border: red solid 2px;
	background-color: white;
}

.button {
	border: red solid 2px;
}

#scoreHeader {
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	text-align: center;
}

#score {
	font-family: 'Audiowide', cursive;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-bottom: 200px;
}